@page
@model ProiectMedii.Pages.Adrese.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Adresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adresa.Strada" class="control-label"></label>
                <input asp-for="Adresa.Strada" class="form-control" />
                <span asp-validation-for="Adresa.Strada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa.Numar" class="control-label"></label>
                <input asp-for="Adresa.Numar" class="form-control" />
                <span asp-validation-for="Adresa.Numar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa.Oras" class="control-label"></label>
                <input asp-for="Adresa.Oras" class="form-control" />
                <span asp-validation-for="Adresa.Oras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa.Judet" class="control-label"></label>
                <input asp-for="Adresa.Judet" class="form-control" />
                <span asp-validation-for="Adresa.Judet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
